body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e83e8c;
}

hr {
  margin: 20px auto;
  color: #e83e8c;
  border: 3px solid #e83e8c;
  max-width: 65px;
  opacity: 1;  
}

.buffer {
  height: 10rem;

}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #e83e8c;
  border-color: #e83e8c;
}

.btn-primary:hover {
  background-color: #b94a54;
  border-color: #b94a54;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}